.wrapper {
  background: url(/images/hero-home-01.png);
  background-size: cover;

  .logo {
    width: 20%;
    display: flex;
    text-align: left;
    margin-right: 450px;
    margin-top: 15px;
  }
  .blog {
    background: rgb(30, 88, 247);
    color: white !important;
  }
  .textWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;

    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 50px;
      font-size: 2px;
    }
    h1 {
      font-weight: bold;
      font-size: 100px;
    }
  }
}

.designWrapper {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 100px;
  position: relative;
  margin-left: 186px;
  margin-top: 250px;

  .designImg {
    position: absolute;
    width: 290px;
    top: calc(50% - 310px);
    left: calc(0% - 130px);
  }

  .designText {
    margin-right: 100px;
    margin-left: 100px;

    .desingP {
      font-size: 18px;
      letter-spacing: 2px;
    }
    h1 {
      font-weight: bold;
      font-size: 50px;
    }
    p {
      font-size: 18px;
    }
  }
  .btnDesign {
    background: black;
    color: white;
    border: solid white;
    margin-top: 30px;
    padding: 15px;
  }
}

.cardColumn {
  column-count: 2;
  margin-top: 100px;

  .card {
    border: none;
    margin-top: 50px;

    p {
      color: rgb(155, 152, 152);
      margin-top: 30px;
      font-size: 25px;
    }
    h1 {
      font-weight: bold;
      font-size: 80px;
    }
  }
}

.teamWrapper {
  background: black;
  color: white;
  padding: 100px;
  margin-top: 100px;

  .avatar {
    width: 50%;
    margin-left: 50px;
    background: rgba(17, 17, 17, 0.986);
  }

  h1 {
    font-weight: bold;
    font-size: 94px;
  }
  p {
    font-size: 21px;
  }
  .btnTeam {
    background: black;
    border: solid 1px;
    margin-top: 50px;
    text-align: center;
    padding: 15px 60px 15px 60px;

    .arrowRight {
      width: 30px;
      background-color: black;
    }
  }
}

.brand {
  margin-top: 100px;
  .cardBrand {
    border: none;

    p {
      color: rgb(155, 152, 152);
      margin-top: 30px;
      font-size: 25px;
    }
    h1 {
      font-weight: bold;
      font-size: 94px;
    }
  }
  img {
    width: 100px;
    margin-bottom: 80px;
  }
  Col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btnBrand {
  background: white;
  color: black;
  border: solid black;
  margin-top: 50px;
  text-align: center;
  padding: 15px 60px 15px 60px;
  font-weight: bold;

  .arrowDark {
    width: 30px;
    margin-bottom: 2px;
  }
}

.onlineStore {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 100px;
  position: relative;

  .banner {
    position: absolute;
    width: 450px;
    top: calc(50% - 158px);
    right: calc(0% - 200px);
  }

  h1 {
    font-weight: bold;
    font-size: 80px;
  }
  p {
    font-size: 18px;
  }
}

.rowIndicators {
  display: flex;
  justify-content: space-between;
}

.indicators {
  margin-top: 100px;
  text-align: center;
  .indicatorsCard {
    border: none;
    //margin-left: 100px;
    margin-right: 0px;

    img {
      width: 80%;
    }

    h1 {
      font-weight: bold;
      font-size: 80px;
    }
    p {
      font-size: 30px;
    }
  }
}

.titleh1 {
  h1 {
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

.cardLast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .lastCard {
    display: flex;
    flex-direction: row;

    img {
      height: 30%;
    }
  }
  .avatar {
    width: 10%;
  }
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
  p {
    color: rgb(128, 125, 125);
  }
}

.footerContainer {
  background-image: url(../public/images/contacto-fondo-01.svg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  color: white;
  padding: 50px;
}

@media screen and (max-width: 570px) {
  .cardColumn {
    display: flex;
    flex-direction: column;
    .card {
      p {
        font-size: 15px;
      }
      h1 {
        font-size: 30px;
      }
    }
  }
}
